// Colours
$grey: #c48900;
$dark-orange: #f65e44;
$orange: #ffb302;
$orange-light: lighten($orange, 40%);
$black: #303030;
$dark-grey: #525252;
$dark-blue: #140e48;
$blue: #392ca0;
$blue-light: lighten($blue, 30%);

$color-primary: $dark-orange;
$color-primary-dark: darken($color-primary, 20%);
$color-primary-light: lighten($color-primary, 20%);

$color-mono-100: #fff;
$color-mono-200: #F5F5F5;
$color-mono-300: #D5D5D5;
$color-mono-400: #9D9D9D;
$color-mono-500: #6A6A6A;
$color-mono-600: #2F3D3B;
$color-mono-700: #222C2B;

$color-body: $color-mono-100;
$color-border: $color-primary;
$color-border-inverted: $color-primary-light;
$color-font: $black;
$color-font-light: $color-mono-500;
$color-font-disabled: $color-mono-300;
$color-font-inverted: $color-mono-100;
$color-font-primary: $color-primary;
$color-font-primary-dark: $color-primary-dark;
$color-font-primary-light: $color-primary-light;
$color-table: $color-mono-300;

// Globals
$border-width: 1px;
$border-default: $border-width solid $color-border;

// Typography
$font-size-base: 1rem;
$font-size-xs: .75rem;
$font-size-sm: .95rem;
$font-size: 1rem;
$font-size-lg: 1.5rem;
$font-size-xlg: 3rem;
$font-size-xxlg: 4rem;
$font-size-xxxlg: 4.5rem;

$primary-font: 'Poppins', sans-serif;
$secondary-font: 'Fjalla One', sans-serif;

$font-weight: 400;
$font-weight-bold: 700;

// Modules
$btn-padding-vert: 11px;
$btn-padding-horz: 24px;
$btn-padding: $btn-padding-vert $btn-padding-horz;
